[Desktop Entry]
Type=Application
Name=Anthem
Comment=Prototype DAW
Comment[fr]=Prototype de STAN
Exec=Main
Icon=Anthem
Categories=AudioVideo;Audio;
X-AppImage-Version=d28392c
